<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p align="center"> " Тег абзаца, где атрибут align это выравнивание, а center - центр" </p>
<p>Полезный атрибут — align. Он позволяет располагать текст справа(right), слева(left), по центру(centre) или по ширине(justify)</p>
<i> Тег курсивного текста </i>
<em> Тег курсивного текста </em>
<b> Тег жирного текста </b>
<u> Тег подчёркнутого текста </u>

<hr> – горизонтальная разделительная линия.
<br> – перенос текста на новую строку.
<div> – контейнер, который поможет сгруппировать теги и настроить внешний вид при помощи CSS. </div>

<a href="https://stepik.org/"> Тег Ссылка на сайт. В ссылках самое главное — атрибут href.
    Именно в нем указывается, куда “ведет” ссылка.  Тег без атрибута href обозначает «ссылку-заглушку»,
    которая в других условиях может стать обычной ссылкой. Часто ссылки-заглушки используют, чтобы показать,
    что мы находимся на текущей странице. При разработке, когда нужная страница еще не создана, в href помещают хэштег.</a>
<a> Ссылка заглушка </a>
<a href="#"> хэштег пока нет нужной страницы </a>

<a href="ссылка на документ" target="_blank"> По ссылкам можно не только переходить, но и скачивать файлы.
    Для этого необходимо в атрибуте href прописать ссылку на этот файл. Но некоторые файлы браузер может обработать,
    чтобы открыть в режиме просмотра (например, pdf). А чтобы ссылка открывалась в новой вкладке можно указать
    атрибут target и задать значение _blank: target="_blank".</a>

<a href="ссылка">
    <img src="ссылка на картинку"width="540"height="160"alt="здест должна быть картинка"><p>
<!--<img src="{{url_for('static',filename='img/cat.jpg')}}" вот так выглядит ссылка на картинку, сначала функция url_for,
потом по умолчанию папке static, где храним все статичные файлы, потом уже папка с именем картинки img/cat.jpg>-->
    Для подключения изображений существует тег img.
    Для него не требуется закрывающего тега, а путь к картинке задаётся в специальном атрибуте - src.
    Для управления шириной или высотой изображения, используются атрибуты width и height.
    В случаях, когда картинка не может отобразиться, для того, чтобы было понятно, что на ней изображено,
    существует альтернативный текст. Во время разработки он очень пригодиться, чтобы понять в чем дело,
    если картинка не появилась. Альтернативный текст задаётся с помощью атрибута alt
    Популярно использовать изображения в качестве ссылок. Для этого нужно обернуть тег "<img> в тег < a>"
    </p></a>

Списки определяются при помощи тега < ul> или < ol>. Внутри списка создаются пункты посредством тега < li>.
<ul><li>первый пункт списка тег ul обозначает писок с нумерацией точкой </li></ul>
<ol><li>второй пункт списка тег ol обощначает список с нумерацией цифрами</li></ol>

<p>Таблица — это структурированный набор данных, состоящий из строк и столбцов. Они очень удобны и часто бывают необходимы.
Обозначение происходит внутри тега < table>, куда вписываются остальные табличные теги:
    < th> - заголовок столбца,
        < tr> - обозначение строки,
            < td > - ячейка (иначе говоря колонка внутри строки).</p>
<table border="1px"> атрибут border служит для отрисовки стен таблицы(линии, разделяющие ячейки)
    <tr>
        <th>заголовок один</th> обозначение заголовка
        <th>заголовок два</th>
    </tr>
    <tr> обозначение строки
        <td>строка 1, колонка 1</td>
        <td>строка 1, колонка 2</td>
    </tr>
    <tr> обозначение строки
        <td>строка 2, колонка 1</td>
        <td>строка 2, колонка 2</td>
    </tr>

</table>
</body>
</html>
<script>
    <alert('wow')
</script>