<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #sidebar {width: 300px; background-color:blue;}
        h1 {color:pink; font-family:Arial;}
        .my_class1 {color:green;}

    </style> Внутренние стили встраиваются в < head> и определяются внутри тега < style>.
                    У них приоритет выше, чем у внешних, но уступают встроенным.
    <hr>
    Селектор описывает элемент или группы элементов, к которым применяются CSS-свойства
    Селекторы класса позволяют задавать стили для одного и более элементов с одинаковым именем класса,
    размещенных в разных местах страницы. Пишется в теге < style> .my_class1{свойства со значениями} ,
    а потом в нужный тег добавляется атрибут class="наименование вашего нужного класса"
    <hr>
    Селектор идентификатора позволяет форматировать один конкретный элемент. Значение id должно быть уникальным,
    на одной странице может встречаться только один раз. Уникальный идентификатор элемента может использоваться
    как способ ссылки на конкретные части документа. При объявлении у такого селектора необходимо ставить знак # перед
    названием.
    <hr>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    В шаблоне при помощи тега link производиться подключение. Атрибут rel указывает тип ссылки, значение stylesheet
    обозначает ссылку на таблицу стилей. В атрибуте href применяется особая функция: url_for, указывающая на название
    папки static и путь к самому файлу в аргументе filename с начальной точкой местположения от static.
    <hr>
    Как подключить статические файлы, используется тег < script> далее указывается адрес через функцию url_for
    <script src="{{ url_for('static', filename='js/utils/translate.js') }}"></script>
    <hr>
</head>
<body>
    <h1>Hello, Flask</h1>
    <p>это шаблон первой страницы типа</p>
    <i class="my_class1"> здесь размещен селектор класса </i>
    <div id="sidebar">
    <p>Селектор идентификатора</p>
    </div>
    <hr>
    <img src="{{url_for('static',filename='img/cat.jpg')}}" width="300" height="300" alt="тут должен быть кот">
</body>
</html>