<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>  Title - имя вкладки в браузере
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<h1> наследование в Jinja </h1> - забегаем вперёд
{% block content -%} - в эту часть кода добавляем то что будет дублироваться на каждой странице

<h1> Шаблонизатор Jinja2 </h1>
    <h2> здравствуйте, тут мы передали переменную name со значением {{ name }} и число = {{ age }}</h2>
    <hr>
    <p>{{text}} здесь должен быть текст из задания с передачей переменных</p>
    <hr>
    <h2 style="font-weight:bold;color:red;">2+2={{2+2}}</h2> это выражения, для использования выражений
    доступны стандартные математические операторы, также тут применили стиль в конкретном теге, но так делать не рекомендуется
    <hr>
    <h1>Фильтры Jinja2</h1>

<!--        В Jinja существует понятие фильтров. Они изменяют переменные до процесса рендеринга.-->
<!--        где comment — переменная (хранящая значение “ever lucky”), дадут одинаковый результат. Title делает в каждом-->
<!--        слове первую букву заглавной, т.е. на странице будет отображено “Ever Lucky”.-->
<!--    Фильтры такие как и в питоне: min, max, lower И тд все пишутся через | и исполняются слева на право-->
    <p>{{ 'ever lucky'| title }}</p>
    {{ comment | title }}
    {{'<p>who? аааааа </p>'|striptags|title }} - Удалит сначала html-теги в строке, а после установит первые буквы заглавными
    <p>{{ 1.234567 | round(2) }}</p> Фильтр округлил число
    <hr>
    <h1>Условия в Jinja</h1>
    <p>Инструкция if в Jinja имитирует выражение if в Python. Значение условия определяет набор инструкций.
    Если не передать переменную или присвоить значение типа, отличного от используемого в условии, — будет
    получено Internal Error. В отличие от обычного if, здесь присутствует обязательное наличие закрытия условия:
    { % endif % }. Также можно использовать условия elif и else, как в обычном коде Python.
    Управляющие инструкции также могут быть вложенными</p>
    {% if age//2 > 5 %} - условие
    <p>True</p> - если верно
    {%endif%} - конец условия, обязательно
<hr>
<p>Иногда удобно записывать инструкцию if в одну строку. Jinja поддерживает такой тип записи,
но называет это выражением if, потому что оно записывается с помощью двойных фигурных скобок { { … } }, а не { % … % }
Else использовать необязательно. Если его нет, тогда такой результат вернет объект undefined, то есть ничего.
Можно использовать сложные условия, применяя ключевые слова and и or</p>
{{'Age больше 5' if age>5 else 'Age меньше 5'}}
<hr>

    <h1> Циклы в Jinja </h1>
        перебор списка
        {% for item in [1,2,3] %}
        <li>{{item}}</li>
        {%else%}
        <li>list is empty</li>
        {%endfor%}
<p>условие else используется в цикле for в Jinja, оно исполняется только в том случае, если последовательность
    пустая или не определена. Например, передадим пустой словарь, где результатом цикла будет “list is empty”</p>

{%if numbers|length == 0%} - length тоже самое что и len
Численная последовательность не существует
{%endif%}
{%for item in numbers%}
{{loop.index}} - {{item}}
{%endfor%}


{% endblock -%}




</body>
</html>