<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='second.css') }}">
</head>
<body>
<p> вторая страницы дабы понять как работает тег Link и стили из css</p>
<hr>
<p>В шаблоне при помощи тега link производиться подключение. Атрибут rel указывает тип ссылки, значение stylesheet
    обозначает ссылку на таблицу стилей. В атрибуте href применяется особая функция: url_for, указывающая на название
    папки static и путь к самому файлу в аргументе filename с начальной точкой местположения от static.</p>

</body>
</html>